
//reboot css
@import "libs/bootstrap-reboot.min";


//variable
@import "variable/variable";
@import "variable/mixin";
@import "variable/title";

//fonst
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');


*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    object-fit: cover;
}

.container{
    display: block;
    max-width: 1140px;
    margin: 0 auto;
}

.button{
    display: block;
}

//blocks
@import "blocks/header";
@import "blocks/main";
@import "blocks/service";
@import "blocks/desition";
@import "blocks/advantage";
@import "blocks/data";
@import "blocks/contacts";
@import "blocks/footer";
//media
@import "media/media";